body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* NAVBAR ITEMS!! */

.nav_Link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d3c6e;
  padding: 20px;
  border-bottom: 1px solid white;
  width: 100%;
  min-height: 10vh;
}

.navItems {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

 nav a:hover {
    background-color: #528deb;
    padding: 5px;
    border-radius: 5px;
   transition: border-bottom ease;
 }

 /* NAVBAR ITEMS ENDS */

 button {
    cursor: pointer;
 }


.name {
    color: #528deb;
   letter-spacing: 2px;
   font-weight: bold;
   font-size: 1.5rem;
}

 /* HERO SECTION */

 .heroBox {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1d3c6e;
    color: white
 }

 #img {
    width: 380px;
    height: 380px;
    border-radius: 5%;
    padding: 10px;
      border: 1px solid #528deb;
 }

 #img:hover {
    background-color: #528deb;
    transition: background-color 0.5s ease
 }

 .greet {
    padding: 10px;
    color: black;
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    font-weight: bold;
 }

 #userName {
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 7px;
    letter-spacing: 2px;
 }

 #title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #528deb;
 }

 .intro {
    font-size: 1.1rem;
 }

 .project_contact {
    display: flex;
    gap: 30px;
    margin-top: 20px;
 }

 #projectBtn {
    padding: 15px;
    border-radius: 5px;
    width: 40%;
    border: 1px solid #528deb;
    background-color: #528deb;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
 }

 #projectBtn:active {
  transform: scale(0.95);
}

#projectBtn:hover {
  opacity: 0.9;
}

 #contactBtn {
    padding: 15px;
    border-radius: 5px;
    width: 40%;
    border: 1px solid #528deb;
    background-color: #1d3c6e;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
     transition: background-color 0.5s ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
 }

 #contactBtn:active {
  transform: scale(0.95);
}

#contactBtn:hover {
  opacity: 0.9;
  background-color: #528deb;
}

 .heroText {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 /* HERO SECTION DONE */

 /* ABOUT ME */
 .about_and_skills {
 padding: 20px 20px 10px;
 }

 .aboutMe {
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .icons {
    font-size: 2.5rem !important;
    color: #528deb;
    font-weight: bold;
    border-radius: 50%;
 }

 .aboutMe_skillsText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
 }

 .space {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
     gap: 5px;
 }

 .text {
    font-size: 1.2rem;
 }

 /* MY SKILLS */

 .mySkills {
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .techSkills {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
   border-radius: 5px;
   border: 1px solid #dedede;
    width: fit-content;
     font-size: 1.2rem;
 }

 .techStack {
    display: flex;
    gap: 20px;
    margin-top: 10px;
 }

 .frontendText {
    margin-top: 10px;
 }

 .about_and_skills {
    display: flex;
    justify-content: space-between;
 }

 .aboutColumn, .skillsColumn {
    width: 50%;
 }

 /* Education */

 .edu_and_cert {
    padding: 20px 20px 10px ;
    display: flex;
    justify-content: space-between;
    gap: 50px;
 }

 .eduCation {
    display: flex;
    align-items: center;
    gap: 10px;
 }


 .timeline {
  position: relative;
  margin-left: 20px;
  padding-left: 40px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: #528deb;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.circle {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #528deb;
}

.content .uni_college {
    margin-top: 10px;
  margin-bottom: 5px;
}

 .blue {
    color: #528deb;
 }

 .description {
    font-size: 1.1rem;
 }

 .certificate {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
 }

 .certBox {
    width: fit-content;
    height: fit-content;
    /* border: 1px solid #528deb; */
     /* padding: 10px; */
      border-radius: 5%;
 }

 #percorsoTech {
     width: 300px;
    height: 300px;
   padding: 20px;
 }

 .eduColumn, .certColumn {
    width: 50%;
 }

 .frontendCert {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
 }

 .certDescription {
    width: 100%;
     font-size: 1.2rem;
 }

 .certColumn {
    width: 100%;
 }

 